/* General */
:root {
	--border-radius: 0;
	--border-radius2x: 0;
	--default: #777;
}
/* Skin Colors */
:root {
	--primary: #e41645;
	--primary-100: #cd143e;
	--primary-200: #c1133a;
	--primary-300: #b51237;
	--primary--100: #ea2955;
	--primary--200: #eb355e;
	--primary--300: #ed4068;
	--primary-rgba-0: rgba(228, 22, 69, 0);
	--primary-rgba-10: rgba(228, 22, 69, 0.1);
	--primary-rgba-20: rgba(228, 22, 69, 0.2);
	--primary-rgba-30: rgba(228, 22, 69, 0.3);
	--primary-rgba-40: rgba(228, 22, 69, 0.4);
	--primary-rgba-50: rgba(228, 22, 69, 0.5);
	--primary-rgba-60: rgba(228, 22, 69, 0.6);
	--primary-rgba-70: rgba(228, 22, 69, 0.7);
	--primary-rgba-80: rgba(228, 22, 69, 0.8);
	--primary-rgba-90: rgba(228, 22, 69, 0.9);
	--secondary: #292929;
	--secondary-100: #1c1c1c;
	--secondary-200: #161616;
	--secondary-300: #101010;
	--secondary--100: #363636;
	--secondary--200: #3c3c3c;
	--secondary--300: #434343;
	--secondary-rgba-0: rgba(41, 41, 41, 0);
	--secondary-rgba-10: rgba(41, 41, 41, 0.1);
	--secondary-rgba-20: rgba(41, 41, 41, 0.2);
	--secondary-rgba-30: rgba(41, 41, 41, 0.3);
	--secondary-rgba-40: rgba(41, 41, 41, 0.4);
	--secondary-rgba-50: rgba(41, 41, 41, 0.5);
	--secondary-rgba-60: rgba(41, 41, 41, 0.6);
	--secondary-rgba-70: rgba(41, 41, 41, 0.7);
	--secondary-rgba-80: rgba(41, 41, 41, 0.8);
	--secondary-rgba-90: rgba(41, 41, 41, 0.9);
	--tertiary: #e0e1e5;
	--tertiary-100: #d2d4d9;
	--tertiary-200: #cbcdd4;
	--tertiary-300: #c4c6ce;
	--tertiary--100: #eeeef1;
	--tertiary--200: #f5f5f6;
	--tertiary--300: #fcfcfc;
	--tertiary-rgba-0: rgba(224, 225, 229, 0);
	--tertiary-rgba-10: rgba(224, 225, 229, 0.1);
	--tertiary-rgba-20: rgba(224, 225, 229, 0.2);
	--tertiary-rgba-30: rgba(224, 225, 229, 0.3);
	--tertiary-rgba-40: rgba(224, 225, 229, 0.4);
	--tertiary-rgba-50: rgba(224, 225, 229, 0.5);
	--tertiary-rgba-60: rgba(224, 225, 229, 0.6);
	--tertiary-rgba-70: rgba(224, 225, 229, 0.7);
	--tertiary-rgba-80: rgba(224, 225, 229, 0.8);
	--tertiary-rgba-90: rgba(224, 225, 229, 0.9);
	--quaternary: #777777;
	--quaternary-100: #6a6a6a;
	--quaternary-200: #646464;
	--quaternary-300: #5e5e5e;
	--quaternary--100: #848484;
	--quaternary--200: #8a8a8a;
	--quaternary--300: #919191;
	--quaternary-rgba-0: rgba(119, 119, 119, 0);
	--quaternary-rgba-10: rgba(119, 119, 119, 0.1);
	--quaternary-rgba-20: rgba(119, 119, 119, 0.2);
	--quaternary-rgba-30: rgba(119, 119, 119, 0.3);
	--quaternary-rgba-40: rgba(119, 119, 119, 0.4);
	--quaternary-rgba-50: rgba(119, 119, 119, 0.5);
	--quaternary-rgba-60: rgba(119, 119, 119, 0.6);
	--quaternary-rgba-70: rgba(119, 119, 119, 0.7);
	--quaternary-rgba-80: rgba(119, 119, 119, 0.8);
	--quaternary-rgba-90: rgba(119, 119, 119, 0.9);
	--dark: #292929;
	--dark-100: #1c1c1c;
	--dark-200: #161616;
	--dark-300: #101010;
	--dark--100: #363636;
	--dark--200: #3c3c3c;
	--dark--300: #434343;
	--dark-rgba-0: rgba(41, 41, 41, 0);
	--dark-rgba-10: rgba(41, 41, 41, 0.1);
	--dark-rgba-20: rgba(41, 41, 41, 0.2);
	--dark-rgba-30: rgba(41, 41, 41, 0.3);
	--dark-rgba-40: rgba(41, 41, 41, 0.4);
	--dark-rgba-50: rgba(41, 41, 41, 0.5);
	--dark-rgba-60: rgba(41, 41, 41, 0.6);
	--dark-rgba-70: rgba(41, 41, 41, 0.7);
	--dark-rgba-80: rgba(41, 41, 41, 0.8);
	--dark-rgba-90: rgba(41, 41, 41, 0.9);
	--light: #FFF;
	--light-100: #f2f2f2;
	--light-200: #ececec;
	--light-300: #e6e6e6;
	--light--100: #ffffff;
	--light--200: #ffffff;
	--light--300: #ffffff;
	--light-rgba-0: rgba(255, 255, 255, 0);
	--light-rgba-10: rgba(255, 255, 255, 0.1);
	--light-rgba-20: rgba(255, 255, 255, 0.2);
	--light-rgba-30: rgba(255, 255, 255, 0.3);
	--light-rgba-40: rgba(255, 255, 255, 0.4);
	--light-rgba-50: rgba(255, 255, 255, 0.5);
	--light-rgba-60: rgba(255, 255, 255, 0.6);
	--light-rgba-70: rgba(255, 255, 255, 0.7);
	--light-rgba-80: rgba(255, 255, 255, 0.8);
	--light-rgba-90: rgba(255, 255, 255, 0.9);
}
/* Skin Colors - Inverse */
:root {
	--primary-inverse: #FFF;
	--secondary-inverse: #FFF;
	--tertiary-inverse: #777;
	--quaternary-inverse: #FFF;
	--dark-inverse: #FFF;
	--light-inverse: #777;
}
/* Grey Colors */
:root {
	--grey: #969696;
	--grey-100: #f4f4f4;
	--grey-200: #eaeaea;
	--grey-300: #e5e5e5;
	--grey-400: #e0e0e0;
	--grey-500: #dbdbdb;
	--grey-600: #cecece;
	--grey-700: #c1c1c1;
	--grey-800: #a8a8a8;
	--grey-900: #8e8e8e;
	--grey-1000: #757575;
}
