/* General */
:root {
	--border-radius: 4px;
	--border-radius2x: 8px;
	--default: #777;
}
/* Skin Colors */
:root {
	--primary: #FDD55C;
	--primary-100: #fdcf43;
	--primary-200: #fdcb36;
	--primary-300: #fcc82a;
	--primary--100: #fddb75;
	--primary--200: #fddf82;
	--primary--300: #fee28e;
	--primary-rgba-0: rgba(253, 213, 92, 0);
	--primary-rgba-10: rgba(253, 213, 92, 0.1);
	--primary-rgba-20: rgba(253, 213, 92, 0.2);
	--primary-rgba-30: rgba(253, 213, 92, 0.3);
	--primary-rgba-40: rgba(253, 213, 92, 0.4);
	--primary-rgba-50: rgba(253, 213, 92, 0.5);
	--primary-rgba-60: rgba(253, 213, 92, 0.6);
	--primary-rgba-70: rgba(253, 213, 92, 0.7);
	--primary-rgba-80: rgba(253, 213, 92, 0.8);
	--primary-rgba-90: rgba(253, 213, 92, 0.9);
	--secondary: #ecf1f7;
	--secondary-100: #dae4ef;
	--secondary-200: #d1ddec;
	--secondary-300: #c8d7e8;
	--secondary--100: #fefeff;
	--secondary--200: #ffffff;
	--secondary--300: #ffffff;
	--secondary-rgba-0: rgba(236, 241, 247, 0);
	--secondary-rgba-10: rgba(236, 241, 247, 0.1);
	--secondary-rgba-20: rgba(236, 241, 247, 0.2);
	--secondary-rgba-30: rgba(236, 241, 247, 0.3);
	--secondary-rgba-40: rgba(236, 241, 247, 0.4);
	--secondary-rgba-50: rgba(236, 241, 247, 0.5);
	--secondary-rgba-60: rgba(236, 241, 247, 0.6);
	--secondary-rgba-70: rgba(236, 241, 247, 0.7);
	--secondary-rgba-80: rgba(236, 241, 247, 0.8);
	--secondary-rgba-90: rgba(236, 241, 247, 0.9);
	--tertiary: #403f3d;
	--tertiary-100: #333231;
	--tertiary-200: #2c2c2a;
	--tertiary-300: #262524;
	--tertiary--100: #4d4c49;
	--tertiary--200: #545250;
	--tertiary--300: #5a5956;
	--tertiary-rgba-0: rgba(64, 63, 61, 0);
	--tertiary-rgba-10: rgba(64, 63, 61, 0.1);
	--tertiary-rgba-20: rgba(64, 63, 61, 0.2);
	--tertiary-rgba-30: rgba(64, 63, 61, 0.3);
	--tertiary-rgba-40: rgba(64, 63, 61, 0.4);
	--tertiary-rgba-50: rgba(64, 63, 61, 0.5);
	--tertiary-rgba-60: rgba(64, 63, 61, 0.6);
	--tertiary-rgba-70: rgba(64, 63, 61, 0.7);
	--tertiary-rgba-80: rgba(64, 63, 61, 0.8);
	--tertiary-rgba-90: rgba(64, 63, 61, 0.9);
	--quaternary: #1f1e1c;
	--quaternary-100: #121110;
	--quaternary-200: #0b0b0a;
	--quaternary-300: #040404;
	--quaternary--100: #2c2b28;
	--quaternary--200: #33312e;
	--quaternary--300: #3a3834;
	--quaternary-rgba-0: rgba(31, 30, 28, 0);
	--quaternary-rgba-10: rgba(31, 30, 28, 0.1);
	--quaternary-rgba-20: rgba(31, 30, 28, 0.2);
	--quaternary-rgba-30: rgba(31, 30, 28, 0.3);
	--quaternary-rgba-40: rgba(31, 30, 28, 0.4);
	--quaternary-rgba-50: rgba(31, 30, 28, 0.5);
	--quaternary-rgba-60: rgba(31, 30, 28, 0.6);
	--quaternary-rgba-70: rgba(31, 30, 28, 0.7);
	--quaternary-rgba-80: rgba(31, 30, 28, 0.8);
	--quaternary-rgba-90: rgba(31, 30, 28, 0.9);
	--dark: #1e1e1e;
	--dark-100: #111111;
	--dark-200: #0b0b0b;
	--dark-300: #040404;
	--dark--100: #2b2b2b;
	--dark--200: #313131;
	--dark--300: #383838;
	--dark-rgba-0: rgba(30, 30, 30, 0);
	--dark-rgba-10: rgba(30, 30, 30, 0.1);
	--dark-rgba-20: rgba(30, 30, 30, 0.2);
	--dark-rgba-30: rgba(30, 30, 30, 0.3);
	--dark-rgba-40: rgba(30, 30, 30, 0.4);
	--dark-rgba-50: rgba(30, 30, 30, 0.5);
	--dark-rgba-60: rgba(30, 30, 30, 0.6);
	--dark-rgba-70: rgba(30, 30, 30, 0.7);
	--dark-rgba-80: rgba(30, 30, 30, 0.8);
	--dark-rgba-90: rgba(30, 30, 30, 0.9);
	--light: #FFF;
	--light-100: #f2f2f2;
	--light-200: #ececec;
	--light-300: #e6e6e6;
	--light--100: #ffffff;
	--light--200: #ffffff;
	--light--300: #ffffff;
	--light-rgba-0: rgba(255, 255, 255, 0);
	--light-rgba-10: rgba(255, 255, 255, 0.1);
	--light-rgba-20: rgba(255, 255, 255, 0.2);
	--light-rgba-30: rgba(255, 255, 255, 0.3);
	--light-rgba-40: rgba(255, 255, 255, 0.4);
	--light-rgba-50: rgba(255, 255, 255, 0.5);
	--light-rgba-60: rgba(255, 255, 255, 0.6);
	--light-rgba-70: rgba(255, 255, 255, 0.7);
	--light-rgba-80: rgba(255, 255, 255, 0.8);
	--light-rgba-90: rgba(255, 255, 255, 0.9);
}
/* Skin Colors - Inverse */
:root {
	--primary-inverse: #1e1e1e;
	--secondary-inverse: #777;
	--tertiary-inverse: #FFF;
	--quaternary-inverse: #FFF;
	--dark-inverse: #FFF;
	--light-inverse: #777;
}
/* Grey Colors */
:root {
	--grey: #969696;
	--grey-100: #f4f4f4;
	--grey-200: #eaeaea;
	--grey-300: #e5e5e5;
	--grey-400: #e0e0e0;
	--grey-500: #dbdbdb;
	--grey-600: #cecece;
	--grey-700: #c1c1c1;
	--grey-800: #a8a8a8;
	--grey-900: #8e8e8e;
	--grey-1000: #757575;
}
