/* General */
:root {
	--border-radius: 0;
	--border-radius2x: 0;
	--default: #777;
}
/* Skin Colors */
:root {
	--primary: #f4544c;
	--primary-100: #f33d34;
	--primary-200: #f23228;
	--primary-300: #f1261c;
	--primary--100: #f56b64;
	--primary--200: #f67670;
	--primary--300: #f7827c;
	--primary-rgba-0: rgba(244, 84, 76, 0);
	--primary-rgba-10: rgba(244, 84, 76, 0.1);
	--primary-rgba-20: rgba(244, 84, 76, 0.2);
	--primary-rgba-30: rgba(244, 84, 76, 0.3);
	--primary-rgba-40: rgba(244, 84, 76, 0.4);
	--primary-rgba-50: rgba(244, 84, 76, 0.5);
	--primary-rgba-60: rgba(244, 84, 76, 0.6);
	--primary-rgba-70: rgba(244, 84, 76, 0.7);
	--primary-rgba-80: rgba(244, 84, 76, 0.8);
	--primary-rgba-90: rgba(244, 84, 76, 0.9);
	--secondary: #111113;
	--secondary-100: #050506;
	--secondary-200: #000000;
	--secondary-300: #000000;
	--secondary--100: #1d1d20;
	--secondary--200: #232327;
	--secondary--300: #29292e;
	--secondary-rgba-0: rgba(17, 17, 19, 0);
	--secondary-rgba-10: rgba(17, 17, 19, 0.1);
	--secondary-rgba-20: rgba(17, 17, 19, 0.2);
	--secondary-rgba-30: rgba(17, 17, 19, 0.3);
	--secondary-rgba-40: rgba(17, 17, 19, 0.4);
	--secondary-rgba-50: rgba(17, 17, 19, 0.5);
	--secondary-rgba-60: rgba(17, 17, 19, 0.6);
	--secondary-rgba-70: rgba(17, 17, 19, 0.7);
	--secondary-rgba-80: rgba(17, 17, 19, 0.8);
	--secondary-rgba-90: rgba(17, 17, 19, 0.9);
	--tertiary: #D1E7E7;
	--tertiary-100: #c0dede;
	--tertiary-200: #b8dada;
	--tertiary-300: #afd6d6;
	--tertiary--100: #e2f0f0;
	--tertiary--200: #eaf4f4;
	--tertiary--300: #f3f8f8;
	--tertiary-rgba-0: rgba(209, 231, 231, 0);
	--tertiary-rgba-10: rgba(209, 231, 231, 0.1);
	--tertiary-rgba-20: rgba(209, 231, 231, 0.2);
	--tertiary-rgba-30: rgba(209, 231, 231, 0.3);
	--tertiary-rgba-40: rgba(209, 231, 231, 0.4);
	--tertiary-rgba-50: rgba(209, 231, 231, 0.5);
	--tertiary-rgba-60: rgba(209, 231, 231, 0.6);
	--tertiary-rgba-70: rgba(209, 231, 231, 0.7);
	--tertiary-rgba-80: rgba(209, 231, 231, 0.8);
	--tertiary-rgba-90: rgba(209, 231, 231, 0.9);
	--quaternary: #0a0a0a;
	--quaternary-100: #000000;
	--quaternary-200: #000000;
	--quaternary-300: #000000;
	--quaternary--100: #171717;
	--quaternary--200: #1d1d1d;
	--quaternary--300: #242424;
	--quaternary-rgba-0: rgba(10, 10, 10, 0);
	--quaternary-rgba-10: rgba(10, 10, 10, 0.1);
	--quaternary-rgba-20: rgba(10, 10, 10, 0.2);
	--quaternary-rgba-30: rgba(10, 10, 10, 0.3);
	--quaternary-rgba-40: rgba(10, 10, 10, 0.4);
	--quaternary-rgba-50: rgba(10, 10, 10, 0.5);
	--quaternary-rgba-60: rgba(10, 10, 10, 0.6);
	--quaternary-rgba-70: rgba(10, 10, 10, 0.7);
	--quaternary-rgba-80: rgba(10, 10, 10, 0.8);
	--quaternary-rgba-90: rgba(10, 10, 10, 0.9);
	--dark: #212529;
	--dark-100: #16181b;
	--dark-200: #101214;
	--dark-300: #0a0c0d;
	--dark--100: #2c3237;
	--dark--200: #32383e;
	--dark--300: #383f45;
	--dark-rgba-0: rgba(33, 37, 41, 0);
	--dark-rgba-10: rgba(33, 37, 41, 0.1);
	--dark-rgba-20: rgba(33, 37, 41, 0.2);
	--dark-rgba-30: rgba(33, 37, 41, 0.3);
	--dark-rgba-40: rgba(33, 37, 41, 0.4);
	--dark-rgba-50: rgba(33, 37, 41, 0.5);
	--dark-rgba-60: rgba(33, 37, 41, 0.6);
	--dark-rgba-70: rgba(33, 37, 41, 0.7);
	--dark-rgba-80: rgba(33, 37, 41, 0.8);
	--dark-rgba-90: rgba(33, 37, 41, 0.9);
	--light: #FFF;
	--light-100: #f2f2f2;
	--light-200: #ececec;
	--light-300: #e6e6e6;
	--light--100: #ffffff;
	--light--200: #ffffff;
	--light--300: #ffffff;
	--light-rgba-0: rgba(255, 255, 255, 0);
	--light-rgba-10: rgba(255, 255, 255, 0.1);
	--light-rgba-20: rgba(255, 255, 255, 0.2);
	--light-rgba-30: rgba(255, 255, 255, 0.3);
	--light-rgba-40: rgba(255, 255, 255, 0.4);
	--light-rgba-50: rgba(255, 255, 255, 0.5);
	--light-rgba-60: rgba(255, 255, 255, 0.6);
	--light-rgba-70: rgba(255, 255, 255, 0.7);
	--light-rgba-80: rgba(255, 255, 255, 0.8);
	--light-rgba-90: rgba(255, 255, 255, 0.9);
}
/* Skin Colors - Inverse */
:root {
	--primary-inverse: #FFF;
	--secondary-inverse: #FFF;
	--tertiary-inverse: #777;
	--quaternary-inverse: #FFF;
	--dark-inverse: #FFF;
	--light-inverse: #777;
}
/* Grey Colors */
:root {
	--grey: #969696;
	--grey-100: #f4f4f4;
	--grey-200: #eaeaea;
	--grey-300: #e5e5e5;
	--grey-400: #e0e0e0;
	--grey-500: #dbdbdb;
	--grey-600: #cecece;
	--grey-700: #c1c1c1;
	--grey-800: #a8a8a8;
	--grey-900: #8e8e8e;
	--grey-1000: #757575;
}
