/* General */
:root {
	--border-radius: 4px;
	--border-radius2x: 8px;
	--default: #777;
}
/* Skin Colors */
:root {
	--primary: #2B4AFF;
	--primary-100: #1234ff;
	--primary-200: #0529ff;
	--primary-300: #0024f7;
	--primary--100: #4560ff;
	--primary--200: #516bff;
	--primary--300: #5e76ff;
	--primary-rgba-0: rgba(43, 74, 255, 0);
	--primary-rgba-10: rgba(43, 74, 255, 0.1);
	--primary-rgba-20: rgba(43, 74, 255, 0.2);
	--primary-rgba-30: rgba(43, 74, 255, 0.3);
	--primary-rgba-40: rgba(43, 74, 255, 0.4);
	--primary-rgba-50: rgba(43, 74, 255, 0.5);
	--primary-rgba-60: rgba(43, 74, 255, 0.6);
	--primary-rgba-70: rgba(43, 74, 255, 0.7);
	--primary-rgba-80: rgba(43, 74, 255, 0.8);
	--primary-rgba-90: rgba(43, 74, 255, 0.9);
	--secondary: #e36159;
	--secondary-100: #df4c43;
	--secondary-200: #dd4238;
	--secondary-300: #dc372d;
	--secondary--100: #e7766f;
	--secondary--200: #e9807a;
	--secondary--300: #ea8b85;
	--secondary-rgba-0: rgba(227, 97, 89, 0);
	--secondary-rgba-10: rgba(227, 97, 89, 0.1);
	--secondary-rgba-20: rgba(227, 97, 89, 0.2);
	--secondary-rgba-30: rgba(227, 97, 89, 0.3);
	--secondary-rgba-40: rgba(227, 97, 89, 0.4);
	--secondary-rgba-50: rgba(227, 97, 89, 0.5);
	--secondary-rgba-60: rgba(227, 97, 89, 0.6);
	--secondary-rgba-70: rgba(227, 97, 89, 0.7);
	--secondary-rgba-80: rgba(227, 97, 89, 0.8);
	--secondary-rgba-90: rgba(227, 97, 89, 0.9);
	--tertiary: #6C6FF1;
	--tertiary-100: #5558ef;
	--tertiary-200: #494dee;
	--tertiary-300: #3d41ed;
	--tertiary--100: #8386f3;
	--tertiary--200: #8f91f4;
	--tertiary--300: #9b9df5;
	--tertiary-rgba-0: rgba(108, 111, 241, 0);
	--tertiary-rgba-10: rgba(108, 111, 241, 0.1);
	--tertiary-rgba-20: rgba(108, 111, 241, 0.2);
	--tertiary-rgba-30: rgba(108, 111, 241, 0.3);
	--tertiary-rgba-40: rgba(108, 111, 241, 0.4);
	--tertiary-rgba-50: rgba(108, 111, 241, 0.5);
	--tertiary-rgba-60: rgba(108, 111, 241, 0.6);
	--tertiary-rgba-70: rgba(108, 111, 241, 0.7);
	--tertiary-rgba-80: rgba(108, 111, 241, 0.8);
	--tertiary-rgba-90: rgba(108, 111, 241, 0.9);
	--quaternary: #E2498D;
	--quaternary-100: #de337f;
	--quaternary-200: #dd2878;
	--quaternary-300: #d62272;
	--quaternary--100: #e65f9b;
	--quaternary--200: #e76aa2;
	--quaternary--300: #e975a9;
	--quaternary-rgba-0: rgba(226, 73, 141, 0);
	--quaternary-rgba-10: rgba(226, 73, 141, 0.1);
	--quaternary-rgba-20: rgba(226, 73, 141, 0.2);
	--quaternary-rgba-30: rgba(226, 73, 141, 0.3);
	--quaternary-rgba-40: rgba(226, 73, 141, 0.4);
	--quaternary-rgba-50: rgba(226, 73, 141, 0.5);
	--quaternary-rgba-60: rgba(226, 73, 141, 0.6);
	--quaternary-rgba-70: rgba(226, 73, 141, 0.7);
	--quaternary-rgba-80: rgba(226, 73, 141, 0.8);
	--quaternary-rgba-90: rgba(226, 73, 141, 0.9);
	--dark: #212529;
	--dark-100: #16181b;
	--dark-200: #101214;
	--dark-300: #0a0c0d;
	--dark--100: #2c3237;
	--dark--200: #32383e;
	--dark--300: #383f45;
	--dark-rgba-0: rgba(33, 37, 41, 0);
	--dark-rgba-10: rgba(33, 37, 41, 0.1);
	--dark-rgba-20: rgba(33, 37, 41, 0.2);
	--dark-rgba-30: rgba(33, 37, 41, 0.3);
	--dark-rgba-40: rgba(33, 37, 41, 0.4);
	--dark-rgba-50: rgba(33, 37, 41, 0.5);
	--dark-rgba-60: rgba(33, 37, 41, 0.6);
	--dark-rgba-70: rgba(33, 37, 41, 0.7);
	--dark-rgba-80: rgba(33, 37, 41, 0.8);
	--dark-rgba-90: rgba(33, 37, 41, 0.9);
	--light: #FFF;
	--light-100: #f2f2f2;
	--light-200: #ececec;
	--light-300: #e6e6e6;
	--light--100: #ffffff;
	--light--200: #ffffff;
	--light--300: #ffffff;
	--light-rgba-0: rgba(255, 255, 255, 0);
	--light-rgba-10: rgba(255, 255, 255, 0.1);
	--light-rgba-20: rgba(255, 255, 255, 0.2);
	--light-rgba-30: rgba(255, 255, 255, 0.3);
	--light-rgba-40: rgba(255, 255, 255, 0.4);
	--light-rgba-50: rgba(255, 255, 255, 0.5);
	--light-rgba-60: rgba(255, 255, 255, 0.6);
	--light-rgba-70: rgba(255, 255, 255, 0.7);
	--light-rgba-80: rgba(255, 255, 255, 0.8);
	--light-rgba-90: rgba(255, 255, 255, 0.9);
}
/* Skin Colors - Inverse */
:root {
	--primary-inverse: #FFF;
	--secondary-inverse: #FFF;
	--tertiary-inverse: #FFF;
	--quaternary-inverse: #FFF;
	--dark-inverse: #FFF;
	--light-inverse: #777;
}
/* Grey Colors */
:root {
	--grey: #969696;
	--grey-100: #f4f4f4;
	--grey-200: #eaeaea;
	--grey-300: #e5e5e5;
	--grey-400: #e0e0e0;
	--grey-500: #dbdbdb;
	--grey-600: #cecece;
	--grey-700: #c1c1c1;
	--grey-800: #a8a8a8;
	--grey-900: #8e8e8e;
	--grey-1000: #757575;
}
