/* General */
:root {
	--border-radius: 4px;
	--border-radius2x: 8px;
	--default: #777;
}
/* Skin Colors */
:root {
	--primary: #00a335;
	--primary-100: #008a2d;
	--primary-200: #007d29;
	--primary-300: #007024;
	--primary--100: #00bc3d;
	--primary--200: #00c941;
	--primary--300: #00d646;
	--primary-rgba-0: rgba(0, 163, 53, 0);
	--primary-rgba-10: rgba(0, 163, 53, 0.1);
	--primary-rgba-20: rgba(0, 163, 53, 0.2);
	--primary-rgba-30: rgba(0, 163, 53, 0.3);
	--primary-rgba-40: rgba(0, 163, 53, 0.4);
	--primary-rgba-50: rgba(0, 163, 53, 0.5);
	--primary-rgba-60: rgba(0, 163, 53, 0.6);
	--primary-rgba-70: rgba(0, 163, 53, 0.7);
	--primary-rgba-80: rgba(0, 163, 53, 0.8);
	--primary-rgba-90: rgba(0, 163, 53, 0.9);
	--secondary: #088d33;
	--secondary-100: #07752a;
	--secondary-200: #066926;
	--secondary-300: #055d22;
	--secondary--100: #09a53c;
	--secondary--200: #0ab140;
	--secondary--300: #0bbd44;
	--secondary-rgba-0: rgba(8, 141, 51, 0);
	--secondary-rgba-10: rgba(8, 141, 51, 0.1);
	--secondary-rgba-20: rgba(8, 141, 51, 0.2);
	--secondary-rgba-30: rgba(8, 141, 51, 0.3);
	--secondary-rgba-40: rgba(8, 141, 51, 0.4);
	--secondary-rgba-50: rgba(8, 141, 51, 0.5);
	--secondary-rgba-60: rgba(8, 141, 51, 0.6);
	--secondary-rgba-70: rgba(8, 141, 51, 0.7);
	--secondary-rgba-80: rgba(8, 141, 51, 0.8);
	--secondary-rgba-90: rgba(8, 141, 51, 0.9);
	--tertiary: #5f6c77;
	--tertiary-100: #545f69;
	--tertiary-200: #4e5962;
	--tertiary-300: #48525b;
	--tertiary--100: #6a7985;
	--tertiary--200: #707f8c;
	--tertiary--300: #778692;
	--tertiary-rgba-0: rgba(95, 108, 119, 0);
	--tertiary-rgba-10: rgba(95, 108, 119, 0.1);
	--tertiary-rgba-20: rgba(95, 108, 119, 0.2);
	--tertiary-rgba-30: rgba(95, 108, 119, 0.3);
	--tertiary-rgba-40: rgba(95, 108, 119, 0.4);
	--tertiary-rgba-50: rgba(95, 108, 119, 0.5);
	--tertiary-rgba-60: rgba(95, 108, 119, 0.6);
	--tertiary-rgba-70: rgba(95, 108, 119, 0.7);
	--tertiary-rgba-80: rgba(95, 108, 119, 0.8);
	--tertiary-rgba-90: rgba(95, 108, 119, 0.9);
	--quaternary: #272e32;
	--quaternary-100: #1c2124;
	--quaternary-200: #161a1d;
	--quaternary-300: #111415;
	--quaternary--100: #323b40;
	--quaternary--200: #384247;
	--quaternary--300: #3d484f;
	--quaternary-rgba-0: rgba(39, 46, 50, 0);
	--quaternary-rgba-10: rgba(39, 46, 50, 0.1);
	--quaternary-rgba-20: rgba(39, 46, 50, 0.2);
	--quaternary-rgba-30: rgba(39, 46, 50, 0.3);
	--quaternary-rgba-40: rgba(39, 46, 50, 0.4);
	--quaternary-rgba-50: rgba(39, 46, 50, 0.5);
	--quaternary-rgba-60: rgba(39, 46, 50, 0.6);
	--quaternary-rgba-70: rgba(39, 46, 50, 0.7);
	--quaternary-rgba-80: rgba(39, 46, 50, 0.8);
	--quaternary-rgba-90: rgba(39, 46, 50, 0.9);
	--dark: #3e3e3e;
	--dark-100: #313131;
	--dark-200: #2b2b2b;
	--dark-300: #252525;
	--dark--100: #4b4b4b;
	--dark--200: #515151;
	--dark--300: #585858;
	--dark-rgba-0: rgba(62, 62, 62, 0);
	--dark-rgba-10: rgba(62, 62, 62, 0.1);
	--dark-rgba-20: rgba(62, 62, 62, 0.2);
	--dark-rgba-30: rgba(62, 62, 62, 0.3);
	--dark-rgba-40: rgba(62, 62, 62, 0.4);
	--dark-rgba-50: rgba(62, 62, 62, 0.5);
	--dark-rgba-60: rgba(62, 62, 62, 0.6);
	--dark-rgba-70: rgba(62, 62, 62, 0.7);
	--dark-rgba-80: rgba(62, 62, 62, 0.8);
	--dark-rgba-90: rgba(62, 62, 62, 0.9);
	--light: #FFF;
	--light-100: #f2f2f2;
	--light-200: #ececec;
	--light-300: #e6e6e6;
	--light--100: #ffffff;
	--light--200: #ffffff;
	--light--300: #ffffff;
	--light-rgba-0: rgba(255, 255, 255, 0);
	--light-rgba-10: rgba(255, 255, 255, 0.1);
	--light-rgba-20: rgba(255, 255, 255, 0.2);
	--light-rgba-30: rgba(255, 255, 255, 0.3);
	--light-rgba-40: rgba(255, 255, 255, 0.4);
	--light-rgba-50: rgba(255, 255, 255, 0.5);
	--light-rgba-60: rgba(255, 255, 255, 0.6);
	--light-rgba-70: rgba(255, 255, 255, 0.7);
	--light-rgba-80: rgba(255, 255, 255, 0.8);
	--light-rgba-90: rgba(255, 255, 255, 0.9);
}
/* Skin Colors - Inverse */
:root {
	--primary-inverse: #FFF;
	--secondary-inverse: #FFF;
	--tertiary-inverse: #FFF;
	--quaternary-inverse: #FFF;
	--dark-inverse: #FFF;
	--light-inverse: #777;
}
/* Grey Colors */
:root {
	--grey: #969696;
	--grey-100: #f4f4f4;
	--grey-200: #eaeaea;
	--grey-300: #e5e5e5;
	--grey-400: #e0e0e0;
	--grey-500: #dbdbdb;
	--grey-600: #cecece;
	--grey-700: #c1c1c1;
	--grey-800: #a8a8a8;
	--grey-900: #8e8e8e;
	--grey-1000: #757575;
}
